<form [formGroup]="form" (ngSubmit)="login(form)">
  <div>
    <input type="email" placeholder="Email" [formControl]="email" >
  </div>
  <div *ngIf="!form.controls.email.valid && form.controls.email.touched">This field must be filled</div>
  <div>
    <input  type="password" placeholder="Password" [formControl]="password">
  </div>
  <div *ngIf="!form.controls.password.valid && form.controls.password.touched">This field must be filled</div>
  <div>
    <input  type="password"  placeholder="Confirm password" [formControl]="confirmPassword">
  </div>
  <div *ngIf="!form.controls.confirmPassword.valid && form.controls.confirmPassword.touched">This field must be filled</div>
  <button (click)="passConf(form)" [disabled]="!form.valid || form.hasError('error')">Log in</button>
</form>
